@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar&family=Nunito+Sans&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #6f37fa;
    background-color: #222222;
    font-family: 'Nunito Sans', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 400;
}

form{
    margin: 20px 0px 30px 0px;
    display: flex;
    align-items: center;
}

button{
    background-color: #222222;
    color:#6f37fa;
    border: none;
    margin-left: 0.5em;
}
.todo-input{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

i{
    font-size: 2.5em;
}
/*through Js*/
.todo-list{
    list-style: none;
}

.todo{
    background-color: #333333;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    margin: 10px 0px;
    border-radius: 5px;
}


.complete-button {
    background-color: #50C878;
    padding: 4.5px;
    border: none;
    color: black;
    
}

.trash-button {
    background-color: red;
    padding: 4.5px;
    color: white;
    border: none;
}

.todo li{
    flex: 1;
    margin: 5px 10px;
}
/*no space between the check button and trash button*/
.trash-button{
    margin-left: 0;
}
.completed{
    text-decoration: line-through;
}
/*so that it works if we click anywhere on the font awesome icon*/
.fa-trash, 
.fa-check {
    pointer-events: none;
}

